:root{
    --cor-principal: rgb(160, 6, 139);
    --cor-secundaria: rgb(207, 13, 198);
    --cor-botao: rgba(252, 241, 246, 0.014);
    --cor-fundo: rgb(243, 131, 206);
}

body{
    background-color: var(--cor-fundo);
}